*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(54, 54, 54);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
}
.item{
    align-items: center;
    margin-right: 5px;
    padding-right: 7px;
    font-size: 16px;
    cursor: pointer;
}
.item:hover{
    color:red;
}
.logo{
    width: 130px;
}
.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg,#000,#2f2e2e);
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    margin-top: 15px;
}
.btn{
    margin-top: 15px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: green;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding-top: 15px;
}
.para{
    color: rgb(120, 16, 16);
    font-size: 20px;
    font-style: italic;
}
.first-icon{
    border: 2px solid black;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;

}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin: 5px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    background-image: url(./images/background.png),linear-gradient(45deg,#0c0c0c,#3e3e3e);;

}
.last-container{
    background-image: url(./images/background.png),linear-gradient(45deg,#0b0060,#4a0000);;

    display: flex;
    justify-content: space-around;
}
.first-part{
    background-color:rgb(0, 0, 0);
    color: white;
    padding: 15px;
    margin: 10px;
}
.footer{
    text-align: center;
    background-image: url(./images/background.png),linear-gradient(45deg,#550000,#680303);;
color: azure;
}
.links{
    font-size: 24px;
}